<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yinww.account.mapper.TenantMapper">
	<resultMap id="TenantResultMap" type="com.yinww.account.domain.Tenant">
		<id column="id" jdbcType="VARCHAR" property="id"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="code" jdbcType="VARCHAR" property="code"/>
		<result column="main_account" jdbcType="VARCHAR" property="mainAccount"/>
		<result column="contact" jdbcType="VARCHAR" property="contact"/>
		<result column="mobile" jdbcType="VARCHAR" property="mobile"/>
		<result column="phone" jdbcType="VARCHAR" property="phone"/>
		<result column="email" jdbcType="VARCHAR" property="email"/>
		<result column="address" jdbcType="VARCHAR" property="address"/>
		<result column="logo" jdbcType="VARCHAR" property="logo"/>
		<result column="type" jdbcType="INTEGER" property="type"/>
		<result column="status" jdbcType="INTEGER" property="status"/>
		<result column="note" jdbcType="VARCHAR" property="note"/>
		<result column="access_key" jdbcType="VARCHAR" property="accessKey"/>
		<result column="creator" jdbcType="VARCHAR" property="creator"/>
		<result column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="createTime"/>
		<result column="editor" jdbcType="VARCHAR" property="editor"/>
		<result column="edit_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="editTime"/>
	</resultMap>
	
	<select id="getTenants" resultMap="TenantResultMap">
		select * from ac_tenant a
		<where>
		    <if test="searchValue != null">
		        a.name like concat('%', #{searchValue}, '%')
		        or a.code like concat('%', #{searchValue}, '%')
		        or a.contact like concat('%', #{searchValue}, '%')
		        or a.mobile like concat('%', #{searchValue}, '%')
		        or a.phone like concat('%', #{searchValue}, '%')
		        or a.email like concat('%', #{searchValue}, '%')
		    </if>
		</where>
		<if test="orders != null">
		    order by
		    <foreach collection="orders" item="order" separator=",">CONVERT(${order.key} USING gbk) ${order.value}</foreach>
		</if>
	</select>

	<select id="getTenantById" parameterType="java.lang.String" resultMap="TenantResultMap">
		select * from ac_tenant where id = #{id}
	</select>
	
	<insert id="addTenant">
	    insert into ac_tenant (id, name, code, main_account, contact, mobile, phone, email, address, logo, type, status, note, creator, create_time)
	    values(#{id}, #{name}, #{code}, #{mainAccount}, #{contact}, #{mobile}, #{phone}, #{email}, #{address}, #{logo}, #{type}, 0, #{note}, #{creator}, now())
	</insert>
	
	<update id="updateTenant">
	    update ac_tenant set name=#{name}, code=#{code}, contact=#{contact}, mobile=#{mobile}, phone=#{phone}, email=#{email}
	    , address=#{address}, logo=#{logo}, type=#{type}, note=#{note}, editor=#{editor} , edit_time=now()
	    where id=#{id}
	</update>
	
	<update id="updateStatus">
	    update ac_tenant set status=#{status}, editor=#{editor}, edit_time=now() where id in
	    <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
	</update>

	<select id="getAllTenants" resultType="com.yinww.account.table.KeyValuePair">
		select id `key`, name value from ac_tenant order by CONVERT(name USING gbk)
	</select>
</mapper>