<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yinww.mail.mapper.MailMapper">
	<resultMap id="MailResultMap" type="com.yinww.mail.domain.Mail">
		<id column="id" jdbcType="BIGINT" property="id"/>
		<result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
		<result column="package_id" jdbcType="BIGINT" property="packageId"/>
		<result column="provider_id" jdbcType="INTEGER" property="providerId"/>
		<result column="recipient" jdbcType="VARCHAR" property="recipient"/>
		<result column="template_name" jdbcType="VARCHAR" property="templateName"/>
		<result column="subject" jdbcType="VARCHAR" property="subject"/>
		<result column="status" jdbcType="INTEGER" property="status"/>
		<result column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="createTime"/>
	</resultMap>
	
	<insert id="addMail">
	    insert into ml_mail (id, tenant_id, package_id, provider_id, sharding_column, recipient, template_name, subject, status, create_time)
	    values(#{id}, #{tenantId}, #{packageId}, #{providerId}, #{shardingColumn}, #{recipient}, #{templateName}, #{subject}, 1, now())
	</insert>
	
	<select id="getMails" resultMap="MailResultMap">
		select * from ml_mail order by id
	</select>
</mapper>