<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title th:text="#{Platform.Title}">CentYun</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/lib/Ionicons/css/ionicons.min.css}">
  <link rel="stylesheet" th:href="@{/lib/adminlte/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/lib/adminlte/css/skins/skin-blue.min.css}">
  <link rel="stylesheet" th:href="@{/lib/datatables.net-bs/css/dataTables.bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/lib/icheck/minimal/minimal.css}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <a th:href="@{/index.html}" class="logo">
      <span class="logo-mini"><b th:text="#{Platform.shortName}">CTY</b></span>
      <span class="logo-lg"><b th:text="#{Platform.Name}">Cent</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications Menu -->
          <li class="tasks-menu" th:each="module : ${modules}">
            <a th:href="${module.url}" class="dropdown-toggle">
              <i th:class="${module.icon}"></i>
            </a>
          </li>
          
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img th:src="@{/lib/adminlte/img/user2-160x160.jpg}" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">[[${session.SPRING_SECURITY_CONTEXT.authentication.principal.displayName}]]</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img th:src="@{/lib/adminlte/img/user2-160x160.jpg}" class="img-circle" alt="User Image">

                <p>
                  [[${session.SPRING_SECURITY_CONTEXT.authentication.principal.displayName}]]
                  <small>[[#{Registe.Time}]] : [[${#dates.format(session.SPRING_SECURITY_CONTEXT.authentication.principal.createTime, 'yyyy-MM-dd HH:mm:ss')}]]</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat" th:text="#{Profile}">Profile</a>
                </div>
                <div class="pull-right">
                  <a th:href="@{/logout}" class="btn btn-default btn-flat" th:text="#{Sign.Out}">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree" th:each="module : ${modules}">
        <li th:class="${module.active}? 'active'"><a th:href="${module.url}"><i th:class="${module.icon}"></i>
          <span th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.language == 'zh_CN' ? module.name : module.englishName}">Link</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content container-fluid">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">[[#{tenant.manage}]] <small>[[#{tenant.list}]]</small></h3>
            </div>
            <div class="box-tools">
              <button type="button" class="btn btn-primary" id="addTenant"><i class="fa fa-plus"></i> 添加</button>
              <button type="button" class="btn btn-primary" id="editTenant"><i class="fa fa-pencil"></i> 编辑</button>
              <button type="button" class="btn btn-primary" id="deleteTenant"><i class="fa fa-trash-o"></i> 删除</button>
              <button type="button" class="btn btn-primary" id="refreshTenant"><i class="fa fa-refresh"></i> 刷新</button>
            </div>
              
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="example" class="table table-bordered">
                <thead>
                  <tr>
                    <th width="20px"><input type="checkbox" class="icheckbox_minimal" id="all_checked"></th>
                    <th th:text="#{tenant.name}">名称</th>
                    <th th:text="#{tenant.code}">代码</th>
                    <th th:text="#{tenant.contact}">联系人</th>
                    <th th:text="#{tenant.mobile}">手机</th>
                    <th th:text="#{tenant.phone}">电话</th>
                    <th th:text="#{tenant.email}">邮箱</th>
                    <th th:text="#{common.operate}">操作</th>
                  </tr>
                </thead>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <div th:replace="footer :: copy"></div>

</div>
<!-- ./wrapper -->


        <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">确认删除</h4>
              </div>
              <div class="modal-body">
                <p>确认要删除选中的数据吗？</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left">确定</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">放弃</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

<script th:src="@{/lib/jquery.min.js}"></script>
<script th:src="@{/lib/js.cookie.min.js}"></script>
<script th:src="@{/js/lang.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/lib/adminlte/js/adminlte.min.js}"></script>
<script th:src="@{/lib/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/lib/icheck/icheck.min.js}"></script>

<script>
  $(function () {
	  var i18n = "[[${session.SPRING_SECURITY_CONTEXT.authentication.principal.language == 'en_US' ? 'English.json' : 'Chinese.json'}]]";
	  var table = $('#example').DataTable( {
	        "processing": true,
	        "serverSide": true,
	        "ajax": {
	            "url": "/tenant/tenants",
	            "type": "POST",
	            "dataSrc": 'data',
	            "data" : function(data) { // 重新构造column参数
	            	for (var i = 0; i < data.columns.length; i++) {
	            		column = data.columns[i];
	            		column.searchRegex = column.search.regex;
	            		column.searchValue = column.search.value;
	            		delete(column.search);
	            	}
	            }
	        },
	        "rowId": 'id',
	        "aaSorting": [
	        	[ 1, "asc" ]
	        ],
	        "columns": [
	            { "data": "id" },
	            { "data": "name" },
	            { "data": "code" },
	            { "data": "contact" },
	            { "data": "mobile" },
	            { "data": "phone" },
	            { "data": "email" },
	            { "data": "id" }
	        ],
	        "language": {
                "url": "/lib/datatables.net-bs/js/" + i18n
            },
            "aoColumnDefs": [{
                "render": function (data, type) {
                    return "<div align='center'><input type='checkbox' class='icheckbox_minimal' name='ckb-jobid' value='" + data + "'></div>";
                },
                "aTargets": 0
            },{
            	"aTargets": -1, //最后一列 
                "render": function (data, type) {
                    return "<a href='#'>编辑</a> | <a href='#'>删除</a>";
                    //return "<button type=\"button\" class=\"btn\" data-toggle=\"tooltip\" title=\"编辑\" onclick=\"editTenant('" + data +"')\"><i class=\"fa fa-pencil\"></i></button> <button type=\"button\" class=\"btn\" data-toggle=\"tooltip\" title=\"删除\" onclick=\"deleteTenant('" + data +"')\"><i class=\"fa fa-trash-o\"></i></button>";
                }
            },{
            	"bSortable": false,
            	"aTargets": [ 0, -1 ]
            }],
            "createdRow": function(row, data, index) {
                $(row).data('id',data.id);
                $(row).find('.icheckbox_minimal').first().val(data.id);
            },
            "fnDrawCallback": function(){
                $("#all_checked").prop("checked",false);
            }
	    });
	  
	    $("#all_checked").click(function(){
	        $('[name=ckb-jobid]:checkbox').prop('checked',this.checked);//checked为true时为默认显示的状态
	    });
	    
	    $("#addTenant").click(function(){
	        window.location.href="/tenant/add.html";
	    });

	    $("#editTenant").click(function(){
	        var ids = [];
	        $('input[name="ckb-jobid"]:checked').each(function(){ 
	            ids.push($(this).val());
	        });
	        if(ids.length > 0) {
	        	window.location.href="/tenant/add.html?ids=" + ids.join(",");
	        } else {
	        	alert("请选择要编辑的数据");
	        }
	    });

	    $("#deleteTenant").click(function(){
	        var ids = [];
	        $('input[name="ckb-jobid"]:checked').each(function(){ 
	        	ids.push($(this).val());
	        });
	        console.log(ids.join(","));
	        
	        if(ids.length > 0) {
	        	$('#modal-default').modal({
	                show: true,
	                backdrop:'static'
	            });
	        } else {
	        	alert("请选择要删除的数据");
	        }
	    });

	    $("#refreshTenant").click(function(){
	    	// table.ajax.reload();
	    	table.draw(false);
	    });
  });
  
  function editTenant(data) {
	  alert("要编辑数据" + data);
  }
  
  function deleteTenant(data) {
  	$('#modal-default').modal({
        show: true,
        backdrop:'static'
    });
  }
</script>
</body>
</html>